
<style>ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}</style>





<ul class="timeline" id="jobrequest-timeline">
<li><a href="#">Ticket Closed</a>
    <a href="#" class="float-right">Apr 19  2024  10:45:32 AM</a>
    <p>Ticket Closed</p></li>
    <li><a href="#">Ticket Marked Done</a>
        <a href="#" class="float-right">Apr 19  2024  10:45:11 AM</a
            ><p>Ticket marked done by <code>Mascuñana, Jascha B.</code> Requestor may now close the ticket</p></li>
            <li><a href="#">REMARKS: </a>
                <a href="#" class="float-right">Apr 19  2024  10:44:59 AM</a><p>
                    <code>sample</code></p></li><li><a href="#">Remarks was Submitted</a>
                        <a href="#" class="float-right">Apr 19  2024  10:44:59 AM</a>
                        <p>Remarks was submitted</p></li><li><a href="#">Ticket was Taken</a>
                            <a href="#" class="float-right">Apr 19  2024  10:44:53 AM</a>
                            <p>Ticket was Taken by <code>Mascuñana, Jascha B.</code></p></li>
                            <li><a href="#">Ticket was withdrawn</a>
                                <a href="#" class="float-right">Apr 19  2024  10:44:14 AM</a>
                                <p>Ticket was withdrawn</p></li><li><a href="#">REMARKS: </a>
                                    <a href="#" class="float-right">Apr 19  2024  10:44:07 AM</a>
                                    <p><code>asasas</code></p></li><li><a href="#">Remarks was Submitted</a>
                                        <a href="#" class="float-right">Apr 19  2024  10:44:07 AM</a>
                                        <p>Remarks was submitted</p></li><li><a href="#">Ticket was Taken</a>
                                            <a href="#" class="float-right">Apr 19  2024  10:44:01 AM</a>
                                            <p>Ticket was Taken by <code>Mascuñana, Jascha B.</code></p></li>
                                            <li><a href="#">Ticket was Reposted</a><a href="#" class="float-right">Apr 19  2024  10:43:55 AM</a><p>Ticket was Reposted</p></li>
                                            <li><a href="#">Ticket was Voided</a><a href="#" class="float-right">Apr 19  2024  10:15:20 AM</a>
                                                <p>Ticket was Voided</p></li><li><a href="#">Ticket was withdrawn</a>
                                                    <a href="#" class="float-right">Apr 19  2024  10:15:10 AM</a>
                                                    <p>Ticket was withdrawn</p></li><li><a href="#">REMARKS: </a>
                                                        <a href="#" class="float-right">Apr 19  2024  10:14:59 AM</a>
                                                        <p><code>sasasa</code></p></li><li><a href="#">Remarks was Submitted</a>
                                                            <a href="#" class="float-right">Apr 19  2024  10:14:59 AM</a>
                                                            <p>Remarks was submitted</p></li><li><a href="#">Ticket was Taken</a>
                                                                <a href="#" class="float-right">Apr 19  2024  10:14:48 AM</a>
                                                                <p>Ticket was Taken by <code>Mascuñana, Jascha B.</code></p>
                                                            </li><li><a href="#">Ticket was Reposted</a>
                                                                <a href="#" class="float-right">Apr 19  2024  10:14:43 AM</a>
                                                                <p>Ticket was Reposted</p></li><li>
                                                                    <a href="#">Ticket was Voided</a>
                                                                    <a href="#" class="float-right">Apr 19  2024  10:14:35 AM</a>
                                                                    <p>Ticket was Voided</p></li>
                                                                    <li><a href="#">New Ticket Created</a>
                                                                        <a href="#" 
                             class="float-right">Apr 19  2024  10:14:02 AM</a><p>New ticket was created by 
                                <code>Mascuñana, Jascha B.</code></p>
                            </li></ul>