{% extends 'Base/base.html' %}

{% block content %}

{% include 'myapp/searchforms.html' %}
{% include 'Inactive/Tables/tablewithPaginator_inactive.html' %}

<script>
    $(document).ready(function() {
        var pageLists = [];
        var pageTitle = "Lists of Inactive";
        pageLists[0] = "Inactive";
        pageLists[1] = pageTitle;
        var pagesData = {
            "pagetitle" : pageTitle,
            "pagelists" : pageLists              
        };
        localStorage.setItem("pagesData", JSON.stringify(pagesData));
    });
</script>


  {% endblock %}