{% extends 'Base/base.html' %}
{% block title %}PAFHRMIS{% endblock %}
{% block content %}


<style>
    .nav {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        border-radius: .25rem;
    }
    .unique-nav-item {
        margin-right: 5px;
    }
    .uniqueuniquenav-link {
        display: block;
        padding: .5rem 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
        text-decoration: none;
        color: #007bff;
    }
    .uniqueuniquenav-link:hover {
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }
    .uniqueuniquenav-link.active {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .uniqueuniquenav-link.disabled {
        color: #6c757d;
        background-color: transparent;
        border-color: transparent;
        pointer-events: none;
        cursor: default;
    }
    .tab-content{
        background-color: #fff;
        color: #fff;
        overflow: hidden;
    }
</style>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Personnel Records</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Unit Dashboard</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Unit Monitoring</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!-- PEROSNNEL RECORDS START -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">{% include 'myapp/searchforms.html' %}{% include 'myapp/tablewithPaginator.html' %}</div>
    <!-- PEROSNNEL RECORDS END -->

    <!-- UNIT DASHBOARD START -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">{% include 'Unit_Monitoring/unit_dashboard.html' %}</div>
    <!-- UNIT DASHBOARD END -->

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">{% include 'Unit_Monitoring/unit_monitoring.html' %}</div>

  </div>

<!-- <h2 class="text-primary customTextTheme">Personnel Records</h2> -->


<script>$(document).ready(function() {
    var pageLists = [];
    var pageTitle = "Personnel Records";
    pageLists[0] = "Dashboard";
    pageLists[1] = pageTitle;
    var pagesData = {
        "pagetitle" : pageTitle,
        "pagelists" : pageLists              
    };
    localStorage.setItem("pagesData", JSON.stringify(pagesData));
});


function setActive(element) {
        // Get all nav links
        var navLinks = document.querySelectorAll('.uniqueuniquenav-link');
        // Remove the active class from all nav links
        navLinks.forEach(function(link) {
            link.classList.remove('active');
        });
        // Add the active class to the clicked nav link
        element.classList.add('active');
    }
</script>


{% endblock %}

