<section class="home">
    <div class="input-grp1">
      
      <input type="text" class="textbix" placeholder="Last Name" aria-label="Username" aria-describedby="addon-wrapping">
      <input type="text" class="textbix" placeholder="First Name" aria-label="Username" aria-describedby="addon-wrapping">
      <input type="text" class="textbix" placeholder="Middle Name" aria-label="Username" aria-describedby="addon-wrapping">
      <input type="text" class="textbix" placeholder="Suffix" aria-label="Username" aria-describedby="addon-wrapping">

      </div>

      <div class="input-grp2">
        <input type="text" class="lastnametxt" placeholder="Last Name" aria-label="Username" aria-describedby="addon-wrapping">
        <input type="text" class="firstnametxt" placeholder="First Name" aria-label="Username" aria-describedby="addon-wrapping">
        <input type="text" class="textClassification" placeholder="Classification" aria-label="Username" aria-describedby="addon-wrapping">
        <select class="form-select textbix" aria-label="Sex">
          <option selected>Select Sex</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <input type="text" class="textbix" placeholder="Unit" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
      <button class="seachBTN"> SEARCH </button>