



<table class="table table-responsive-sm table-bordered table-striped table-sm" id="sortableTable">
    <thead>
        <tr>
            <th class="sortable" data-sort="RANK">Rank</th>
            <th class="sortable" data-sort="AFPSN">AFPSN</th>
            <th class="sortable" data-sort="FULL_NAME">Full Name</th>
            <th class="sortable" data-sort="UNIT">Unit</th>
            <th class="sortable" data-sort="SUB_UNIT">Sub-Unit</th>
            <th class="sortable" data-sort="CATEGORY">category</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.RANK }}</td>
            <td>{{ person.SERIAL_NUMBER }}</td>
            <td>{{ person.FIRST_NAME}} {{person.MIDDLE_NAME}} {{person.LAST_NAME}}</td>
            <td>{{ person.UNIT }}</td>
            <td>{{ person.SUB_UNIT }}</td>
            <td>{{ person.CATEGORY }}</td>

            <td>
              <button class="btn btn-primary openModalButton"
              data-rank="{{ person.RANK }}"
              data-lastname="{{ person.LAST_NAME }}"
              data-firstname="{{ person.FIRST_NAME }}"
              data-middlename="{{ person.MIDDLE_NAME }}"
              data-suffix="{{ person.EXTENSION_NAME }}"
              data-afpsn="{{ person.SERIAL_NUMBER }}"
              data-unit="{{ person.UNIT }}"
              data-subunit="{{ person.SUB_UNIT }}"
              data-birthday="{{ person.BIRTHDAY|date:'d-b-Y' }}"
              data-contactnumber="{{ person.CONTACT_NUMBER }}"
              data-sex="{{ person.SEX }}"
              data-address="{{ person.ADDRESS }}"
              data-classification="{{ person.CLASSIFICATION }}"
              data-sourceofenlistmentcommission="{{ person.SOURCE_OF_ENLISTMENT_COMMISION }}"
              data-category="{{ person.CATEGORY }}"
              data-afsc="{{ person.AFSC }}"
              data-hpme="{{ person.HIGHEST_PME_COURSES }}"
              data-dateenteredmilitary="{{ person.EFFECTIVE_DATE_ENTERED|date:'d-b-Y' }}"
              data-lengthofservice="{{ person.LENGTH_OF_SERVICE }}"
              data-pilotrating="{{ person.PILOT_RATED_NON_RATED }}"
              data-promotion="{{ person.DATE_LAST_PROMOTION_APPOINTMENT|date:'Y-m-d' }}"
              data-dateofcommissionship="{{ person.EFFECTIVE_DATE_APPOINTMENT|date:'d-b-Y' }}"
              data-firstTrancheEnlistment="{{ person.DATE_LASTFULL_REENLISTMENT|date:'Y-m-d' }}"
              data-lastEtad="{{ person.DATE_LAST_ETAD|date:'Y-m-d' }}"

              data-toggle="modal"
              data-target="#myModal">EDIT</button>
          
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


  {% include 'modals/updateModal.html' %}
  
 <script>
$(document).ready(function() {
    $('.openModalButton').click(function() {
        var rank = $(this).data('rank');
        var lastname = $(this).data('lastname');
        var firstname = $(this).data('firstname');
        var middlename = $(this).data('middlename');
        if (middlename === "nan") {
            middlename = '';
        }
        var suffix = $(this).data('suffix');
        if (suffix === "nan") {
          suffix = '';
        }
        var afpsn = $(this).data('afpsn');
        var unit = $(this).data('unit');
        var subunit = $(this).data('subunit');
        var birthday = $(this).data('birthday');
        var contactnum = $(this).data('contactnumber');
        if (contactnum === "None") {
          contactnum = '';
        }
        var sex = $(this).data('sex');
        var address = $(this).data('address');
        var classification = $(this).data('classification');
        var sourceofenlistmentcommission = $(this).data('sourceofenlistmentcommission');
        var category = $(this).data('category');
        var afsc = $(this).data('afsc');
        if (afsc === "nan") {
          afsc = '';
        }
        var hpme = $(this).data('hpme');
        var dateenteredmilitary = $(this).data('dateenteredmilitary');
        var dateoflastpromotion = $(this).data('datelastpromotion');
        var lengthofservice = $(this).data('lengthofservice');
        var dateofcommissionship = $(this).data('dateofcommissionship');
        var promotion = $(this).data('promotion');
        var pilotrating = $(this).data('pilotrating');

        var firstTranche = $(this).data('firsttrancheenlistment');
        var lastEtad = $(this).data('lastEtad');


        // Swal.fire({
        //             title: 'Updated Successfully',
        //             text: 'Your data has been updated successfully!'+lastEtad,
        //             icon: 'success',
        //             confirmButtonText: 'OK'
        //         });

        // POPULATING DATA TO MODAL 
        $('#ranktxt').val(rank);
        $('#lastnametxt').val(lastname);
        $('#firstnametxt').val(firstname);
        $('#middlenametxt').val(middlename);
        $('#suffixtxt').val(suffix);
        $('#afpsntxt').val(afpsn);
        $('#unittxt').val(unit);
        $('#subunittxt').val(subunit);
        $('#bdaytxt').val(birthday);
        $('#contactnumtxt').val(contactnum);
        $('#sextxt').val(sex);
        $('#addresstxt').val(address);
        $('#categorytxt').val(category);
        $('#classificationtxt').val(classification);
        $('#sourceofenlistmentcommissiontxt').val(sourceofenlistmentcommission);
        $('#afsctxt').val(afsc);
        $('#enlistmentdatetxt').val(dateenteredmilitary);
        $('#promotiontxt').val(dateoflastpromotion);
        $('#lengthofservicetxt').val(lengthofservice);
        $('#dateofcommissionshiptxt').val(dateofcommissionship);
        $('#promotiontxt').val(promotion);
        $('#unaTranchetxt').val(firstTranche);
        $('#dateoflastetadsottxt').val(lastEtad);
        $('#pilotratingtxt').val(pilotrating);
        $('#hpmetxt').val(hpme);

        // Swal.fire({
        //             title: 'Updated Successfully',
        //             text: 'value: ' +classification,
        //             icon: 'success',
        //             confirmButtonText: 'OK'
        //             });
        //   console.log(classification);


        if (classification === "Regular ") {
          $('#tohide').hide();
        } else {
          $('#tohide').show();
        }
        

     
        if (category === "ENLISTED PERSONNEL") {
          
          $('#commission_enlistment_lbl').text('Date of Enlistment');
          $('#dateoflastetadsottxt').hide();
          $('#dateoflastetadsotlbl').hide();
          $('#pilotratingtxt').hide();
          $('#pilotratinglbl').hide();
          $('#classificationtxt').hide();
          $('#classificationlbl').hide();

          $('#unaTranchelbl').show();
          $('#unaTranchetxt').show();
          



        } else {
          $('#commission_enlistment_lbl').text('Date of Commission');
          $('#pilotratinglbl').show();
          $('#pilotratingtxt').show();
          $('#classificationlbl').show();
          $('#classificationtxt').show();
          $('#dateoflastetadsottxt').show();
          $('#dateoflastetadsotlbl').show();

          $('#unaTranchelbl').hide();
          $('#unaTranchetxt').hide();

          
        }


        







    });
});



// TABLE ASCEND DESCEND WHEN COLUMN TITLE IS CLICKED
$(document).ready(function() {
    $('.sortable').each(function() {
        $(this).data('sortOrder', 'asc');
    });

    $('.sortable').click(function() {
        var index = $(this).index();
        var rows = $('#sortableTable tbody tr').get();
        var sortOrder = $(this).data('sortOrder');
        var newSortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
        $(this).data('sortOrder', newSortOrder);

        rows.sort(function(a, b) {
            var aValue = $(a).children('td').eq(index).text().toUpperCase();
            var bValue = $(b).children('td').eq(index).text().toUpperCase();

            if (aValue < bValue) {
                return sortOrder === 'asc' ? -1 : 1;
            }
            if (aValue > bValue) {
                return sortOrder === 'asc' ? 1 : -1;
            }
            return 0;
        });

        $.each(rows, function(index, row) {
            $('#sortableTable tbody').append(row);
        });
    });
});


  </script>


<nav aria-label="...">
    <ul class="pagination">
        {% if persons.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.previous_page_number }}">previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo; first</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">previous</span>
            </li>
        {% endif %}

        <li class="page-item">
            <span class="page-link">
                Page {{ persons.number }} of {{ persons.paginator.num_pages }}
            </span>
        </li>

        {% if persons.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">next</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">last &raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>
  
