<!doctype html>
<html lang="en">



  <head>
  	<title>PAHRMIS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	
  </head>
  <body>
    
		
	<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="" class="img logo rounded-circle mb-5" style="background-image: url(/static/img/logo.png);"></a>
	        <ul class="list-unstyled components mb-5">
                    <li  class="active">
                    <a href="">Personnel Records</a>
                  </li>
	          <li>
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Placement</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="">Officer</a>
                </li>
                <li>
                    <a href="">Enlisted Personnel</a>
                </li>
                <li>
                    <a href="">DS Monitoring</a>
                </li>
                <li>
                    <a href="">Personnel Monitoring</a>
                </li>
	            </ul>
	          </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reenlistment</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="">1st Tranche</a>
                </li>
                <li>
                    <a href="">2nd Tranche/Reenlistement</a>
                </li>
                <li>
                    <a href="">For Medical</a>
                </li>
                <li>
                    <a href="">Expired ETE</a>
                </li>
              </ul>
	          </li>
            <li>
                <a href="#schoolingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Schooling</a>
                <ul class="collapse list-unstyled" id="schoolingSubmenu">
                  <li>
                      <a href="">Officer</a>
                  </li>
                  <li>
                      <a href="">Enlisted Personnel</a>
                  </li>
                </ul>
            </li>
            <li>
                <a href="#promotionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Promotion</a>
                <ul class="collapse list-unstyled" id="promotionSubmenu">
                  <li>
                      <a href="">Officer</a>
                  </li>
                  <li>
                      <a href="">Enlisted Personnel</a>
                  </li>
                </ul>
            </li>
            <li>
                <a href="#senioritySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Seniority Linear List</a>
                <ul class="collapse list-unstyled" id="senioritySubmenu">
                  <li>
                      <a href="">Officer</a>
                  </li>
                  <li>
                      <a href="">Enlisted Personnel</a>
                  </li>
                </ul>
            </li>
            <li>
                <a href="#afscSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">AFSC Monitoring</a>
                <ul class="collapse list-unstyled" id="afscSubmenu">
                  <li>
                      <a href="">Priority Courses</a>
                  </li>
                  <li>
                      <a href="">By Unit</a>
                  </li>
                </ul>
            </li>
            <li>
                <a href="#etadsotSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ETAD/SOT</a>
                <ul class="collapse list-unstyled" id="etadsotSubmenu">
                    <li>
                        <a href="">SOT</a>
                    </li>
                    <li>
                        <a href="">2nd ETAD</a>
                    </li>
                    <li>
                        <a href="">1st ETAD</a>
                    </li>
                    <li>
                        <a href="">Provisional</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#attritionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ATTRITION</a>
                <ul class="collapse list-unstyled" id="attritionSubmenu">
                  <li>
                      <a href="">Officer</a>
                  </li>
                  <li>
                      <a href="">Enlisted Personnel</a>
                  </li>
                </ul>
            </li>
	        <li>
              <a href="">Inactive Personnel</a>
	        </li>
	        </ul>
	      </div>
    	</nav>


        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <div class="contents">  </div>
            </div>
	    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>

    
  </body>

  
</html>