  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form>
                <div class="container mt-4">
                    <!-- Row 1: 4 columns of textboxes -->
                    <div class="row">
                      <div class="col-md-4">
                        <label for="textbox1">Last Name</label>
                        <input type="text" id="lastnametxt" class="form-control" placeholder="Last Name" disabled>
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">First Name</label>
                        <input type="text" id="firstnametxt" class="form-control" placeholder="First Name" disabled>
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">Middle Name</label>
                        <input type="text" id="middlenametxt" class="form-control" placeholder="Middle Name" disabled>
                      </div>
                      <div class="col-md-2">
                        <label for="textbox1">Suffix</label>
                        <input type="text" id="Suffix" class="form-control" placeholder="Suffix" disabled>
                      </div>
                    </div>
                    
                    <!-- Row 2: 5 columns of textboxes -->
                    <div class="row mt-3">
                      <div class="col-md-2">
                        <label for="textbox1">AFPSN</label>
                        <input type="text" id="afpsntxt" class="form-control" placeholder="AFPSN" disabled>
                      </div>
                      <div class="col-md-2">
                        <label for="textbox1">Rank</label>
                        <input type="text"  id="ranktxt" class="form-control" placeholder="Rank" disabled>
                      </div>
                      <div class="col-md-4">
                        <label for="textbox1">Classification</label>
                        <input type="text" id="Classificationtxt"  class="form-control" placeholder="Classification">
                      </div>
                      <div class="col-md-2">
                        <label for="textbox1">Unit</label>
                        <input type="text" id="unittxt"  class="form-control" placeholder="Unit">
                      </div>
                      <div class="col-md-2">
                        <label for="textbox1">Sub Unit</label>

                        <input type="text"  id="subunittxt" class="form-control" placeholder="Sub Unit">
                      </div>
                    </div>
                    
                    <!-- Row 3: 4 columns of textboxes -->
                    <div class="row mt-3">
                      <div class="col-md-3">
                        <label for="textbox1">Birthday</label>
                        <input type="text"  id="bdaytxt" class="form-control" placeholder="Birthday" disabled>
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">Contact Number</label>
                        <input type="text" id="contactnumtxt"  class="form-control" placeholder="Contact Number" >
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">Source of Commission</label>
                        <input type="text"  id="sourcecommissiontxt" class="form-control" placeholder="Source of commission" disabled>
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">Sex</label>
                        <input type="text"  id="sextxt" class="form-control" placeholder="Sex" disabled>
                      </div>
                    </div>
                  </div>

                  <div class="container mt-4">
                    <!-- Row 1: 4 columns of textboxes -->
                    <div class="row">
                      <div class="col-md-12">
                        <label for="textbox1">Address</label>
                        <input type="text"  id="addresstxt" class="form-control" placeholder="Address">
                      </div>
                    </div>
                    
                    <!-- Row 2: 5 columns of textboxes -->
                    <div class="row mt-3">
                      <div class="col-md-2">
                        <label for="textbox1">AFSC</label>
                        <input type="text"  id="afsctxt" id= "inputState" class="form-control" placeholder="AFSC" disabled>
                      </div>
                      <div class="col-md-2">
                        <label for="textbox1">Highest PME</label>
                        <input type="text"  id="hpmetxt" class="form-control" placeholder="Highest PME">
                      </div>
                      <div class="col-md-2">
                        <label for="textbox1">Category</label>
                        <input type="text" id="cateorytxt"  class="form-control" placeholder="Category">
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">Date Of Last ETAD/SOT</label>
                        <input type="text" id="DOLetadsottxt"  class="form-control" placeholder="Date of Last ETAD/SOT">
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">Date Entered to Military Service</label>
                        <input type="text" id="enlistmentdatetxt"  class="form-control" placeholder="Date Entered to Military Service" disabled>
                      </div>
                    </div>  
                    
                    <!-- Row 3: 4 columns of textboxes -->
                    <div class="row mt-3">
                      <div class="col-md-3">
                        <label for="textbox1">Date Of Commssionship</label>
                        <input type="text" id="dateofcommissionshiptxt"  class="form-control" placeholder="Date of commissionship">
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">Date of Last Promotion</label>
                        <input type="text"  id="promotiontxt" class="form-control" placeholder="Date of last promotion" disabled>
                      </div>
                      <div class="col-md-3">
                        <label for="textbox1">Length Of Service</label>
                        <input type="text" id="lengthofservicetxt"  class="form-control" placeholder="Length of service" disabled>
                      </div>
                 
                    </div>
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <script>
    function updateSubUnits() {
        const lastname = document.getElementById('lastnametxt').value;
        const subUnit = document.getElementById('firstnametxt');
        subUnit.innerHTML = ''; // Clear current options

        let options = [];

        if (lastname === 'AMC') {
            options = ['505SPG', '205THW', '220KW'];
        } else if (lastname === 'AETDC') {
            options = ['PAFNCOS', 'PAFBMS', 'PAFOCS', 'PAFPS'];
        } else if (lastname === 'ADC') {
            options = ['5FW', '580ALWW', '960AMD'];
        }

        options.forEach(option => {
            const opt = document.createElement('option');
            opt.value = option;
            opt.innerHTML = option;
            subUnit.appendChild(opt);
        });
    }
</script>
