{% extends 'Base/base.html' %}
{% block content %}
    <h2 class="text-primary customTextTheme">Unit Dashboard</h2>
    {% load static %}
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h4 class="customTextTheme text-primary mx-2">GUAS</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                            <tr class="bg-white">
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder customTextTheme" rowspan="4">UNIT</th>
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder customTextTheme" colspan="3">ACTUAL</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            <tr class="bg-white">
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder opacity-7 customTextTheme">OFFICER</th>
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder opacity-7 customTextTheme">ENLISTED PERSONNEL</th>
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder opacity-7 customTextTheme">DS / TDY</th>
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder opacity-7 customTextTheme">TOTAL</th>  
                            </tr>
                        </thead>
                        <tbody>
                            {% for unit in GUAS_units %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                    <div>
                                        <img src="{% static 'assets/img/logo.png' %}../" class="avatar avatar-sm me-3" alt="user1">
                                    </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{ unit }}</h6>
                                            <p class="text-xs text-secondary mb-0">Sample Unit Description</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">
                                        {% for count in GUAS_unit_counts %}
                                            {% if count.UNIT == unit %}
                                                {{ count.officers_count }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">
                                        {% for count in GUAS_unit_counts %}
                                            {% if count.UNIT == unit %}
                                                {{ count.enlisted_count }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </td>
                                <td>
                                    {% for count in GUAS_unit_counts %}
                                        {% if count.UNIT == unit %}
                                            {{ count.detached_service_count }} / {{ count.temporary_duty_count }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for count in GUAS_unit_counts %}
                                        {% if count.UNIT == unit %}
                                            {{ count.officers_count|add:count.enlisted_count|add:count.detached_service_count|add:count.temporary_duty_count }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header pb-0">
            <h4 class="customTextTheme text-primary mx-2">PAFHRMC A/U</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                            <tr class="bg-white">
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder customTextTheme">UNIT</th>
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder customTextTheme">Officers Count</th>
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder customTextTheme">Enlisted Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for unit in PAFHRMC_au %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                    <div>
                                        <img src="{% static 'assets/img/logo.png' %}../" class="avatar avatar-sm me-3" alt="user1">
                                    </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{ unit }}</h6>
                                            <p class="text-xs text-secondary mb-0">Sample Unit Description</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">
                                        {% for count in PAFHRMC_au_counts %}
                                            {% if count.UNIT == unit %}
                                                {{ count.officers_count }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">
                                        {% for count in PAFHRMC_au_counts %}
                                            {% if count.UNIT == unit %}
                                                {{ count.enlisted_count }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header pb-0">
            <h4 class="customTextTheme text-primary mx-2">ALL UNITS</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <tr class="bg-white">
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder customTextTheme">UNIT</th>
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder customTextTheme">Officers Count</th>
                                <th class="text-uppercase text-primary text-sm text-center font-weight-bolder customTextTheme">Enlisted Count</th>
                            </tr>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unit in ALLPAF_units %}
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="{% static 'assets/img/logo.png' %}../" class="avatar avatar-sm me-3" alt="user1">
                                </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ unit }}</h6>
                                        <p class="text-xs text-secondary mb-0">Sample Unit Description</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% for count in ALLPAF_unit_counts %}
                                    {% if count.UNIT == unit %}
                                        {{ count.officers_count }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for count in ALLPAF_unit_counts %}
                                    {% if count.UNIT == unit %}
                                        {{ count.enlisted_count }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <script>$(document).ready(function() {
        var pageLists = [];
        var pageTitle = "unit dashboard";
        pageLists[0] = "Dashboard";
        pageLists[1] = pageTitle;
        var pagesData = {
            "pagetitle" : pageTitle,
            "pagelists" : pageLists              
        };
        localStorage.setItem("pagesData", JSON.stringify(pagesData));
    });</script>
{% endblock %}
