<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PAFHRMIS{% endblock %}</title>
</head>
<body>
    <!-- sidebar -->
    
    {% include 'Base/sidebar.html' %}

    <div id="content" class="p-4 p-md-5">
        <div class="contents"> 
            
            {% block content %}
        
            {% endblock %}
        </div>
    </div>

    <!-- <div id="footer">
        <p>Footer content &copy; 2024</p>
    </div> -->
</body>
</html>
