<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>
    <!-- Add your CSS links here -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'sidebar.html' %}
    

    <div class="content">
        <!-- Main content goes here -->
        {% block content %}
        {% endblock %}
    </div>

    <!-- Add your JavaScript links here if needed -->
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
