{% extends 'Base/base.html' %}
{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<form method="GET" action="{% url 'Tranche' %}">
    <div class="input-group mb-3">
        <div class="form-group col-md-4">
            <select name="unit" id="unit" class="form-control">
                <option {% if not unit_query %}selected{% endif %}>UNIT</option>
                <option value="GHQ" {% if unit_query == "GHQ" %}selected{% endif %}>GHQ</option>
                <option value="TOWWEST" {% if unit_query == "TOWWEST" %}selected{% endif %}>TOWWEST</option>
                <option value="TOWEASTMIN" {% if unit_query == "TOWEASTMIN" %}selected{% endif %}>TOWEASTMIN</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <select name="sub_unit" id="sub_unit" class="form-control">
                <option {% if not sub_unit_query %}selected{% endif %}>SUB UNIT</option>
                <!-- Options will be populated by JavaScript -->
            </select>
        </div>
        <div class="form-group col-md-2">
            <select id="dnfr" name="dnfr" class="form-control">
                <option {% if not dnfr_query %}selected{% endif %}>YEAR</option>
                <!-- <option value="2024" {% if dnfr_query == "2024" %}selected{% endif %}>2024</option>
                <option value="2023" {% if dnfr_query == "2023" %}selected{% endif %}>2023</option> -->
                <!-- Add year options as needed -->
            </select>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table table-responsive-sm table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>No.</th>
            <th>AFPSN</th>
            <th>RANK</th>
            <th>NAME</th>
            <th>MIDDLE NAME</th>
            <th>SURNAME</th>
            <th>UNIT</th>
            <th>SUB-UNIT</th>
            <th>CP #</th>
            <th>DATE_LASTFULL_REENLISTMENT</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ person.SERIAL_NUMBER }}</td>
                <td>{{ person.RANK }}</td>
                <td>{{ person.FIRST_NAME }}</td>
                <td>{{ person.MIDDLE_NAME }}</td>
                <td>{{ person.LAST_NAME }}</td>
                <td>{{ person.UNIT }}</td>
                <td>{{ person.SUB_UNIT }}</td>
                <td>{{ person.CONTACT_NUMBER }}</td>
                <td>{{ person.DATE_LASTFULL_REENLISTMENT }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        var subUnits = {
            "GHQ": [],
            "TOWWEST": ["570th ABG", "HTOWWEST"],
            "TOWEASTMIN": []
        };

        function populateSubUnits(unit) {
            var subUnitSelect = $('#sub_unit');
            subUnitSelect.empty();
            subUnitSelect.append('<option>SUB UNIT</option>');
            if (unit in subUnits) {
                subUnits[unit].forEach(function(subUnit) {
                    subUnitSelect.append('<option value="' + subUnit + '">' + subUnit + '</option>');
                });
            }
        }

        $('#unit').change(function() {
            var unit = $(this).val();
            populateSubUnits(unit);
        });

        // Populate sub_units if unit is already selected
        var selectedUnit = "{{ unit_query }}";
        if (selectedUnit) {
            populateSubUnits(selectedUnit);
            $('#sub_unit').val("{{ sub_unit_query }}");
        }
    });

     // Get the current year
  var currentYear = new Date().getFullYear();
  //calculte year ends
  var startYear = 2022;
  var yearends = startYear +10;
  var yearDropdown = document.getElementById('dnfr');
  for (var year = startYear; year <= yearends; year++) {
      var option = document.createElement('option');
      option.value = year;
      option.textContent = year;
      yearDropdown.appendChild(option);
  }
</script>

{% endblock %}