{% extends 'Base/base.html' %}
{% block content %}
<form method="GET" action="{% url 'Tranche' %}">
    <div class="input-group mb-3">
        <div class="form-group col-md-4">
            <select name="unit" id="unit" class="form-control">
                <option {% if not unit_query %}selected{% endif %}>UNIT</option>
                <option value="GHQ" {% if unit_query == "GHQ" %}selected{% endif %}>GHQ</option>
                <option value="PAFHRMC A/U" {% if unit_query == "PAFHRMC A/U" %}selected{% endif %}>PAFHRMC A/U</option>
                <option value="AFPWSSUS" {% if unit_query == "AFPWSSUS" %}selected{% endif %}>AFPWSSUS</option>
                <option value="SOLCOM" {% if unit_query == "SOLCOM" %}selected{% endif %}>SOLCOM</option>
                <option value="WESCOM" {% if unit_query == "WESCOM" %}selected{% endif %}>WESCOM</option>
                <option value="VISCOM" {% if unit_query == "VISCOM" %}selected{% endif %}>VISCOM</option>
                <option value="WESTMINCOM" {% if unit_query == "WESTMINCOM" %}selected{% endif %}>WESTMINCOM</option>
                <option value="EASTMINCOM" {% if unit_query == "EASTMINCOM" %}selected{% endif %}>EASTMINCOM</option>
                <option value="JTF-NCR" {% if unit_query == "JTF-NCR" %}selected{% endif %}>JTF-NCR</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <select name="sub_unit" id="sub_unit" class="form-control">
                <option {% if not sub_unit_query %}selected{% endif %}>SUB UNIT</option>
                <!-- Options will be populated by JavaScript -->
            </select>
        </div>
        <div class="form-group col-md-2">
            <select id="dnfr" name="dnfr" class="form-control">
                <option {% if not dnfr_query %}selected{% endif %}>YEAR</option>
                <!-- Options will be populated by JavaScript -->
            </select>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<button id="exportPdf" class="btn btn-danger">Export to PDF</button>
<button id="exportExcel" class="btn btn-success">Export to Excel</button>
<button id="printButton" class="btn btn-success">Print Table</button><br><br>

<table class="table table-responsive-sm table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>No.</th>
            <th>AFPSN</th>
            <th>RANK</th>
            <th>NAME</th>
            <th>MIDDLE NAME</th>
            <th>SURNAME</th>
            <th>UNIT</th>
            <th>SUB-UNIT</th>
            <th>CP #</th>
            <th>DATE OF NEXT FULL REENLISTMENT</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
    {% with start_number=persons.start_index %}
        <tr>
            <td>{{ start_number|add:forloop.counter0 }}</td>
            <td>{{ person.SERIAL_NUMBER }}</td>
            <td>{{ person.RANK }}</td>
            <td>{{ person.FIRST_NAME }}</td>
            <td>{{ person.MIDDLE_NAME }}</td>
            <td>{{ person.LAST_NAME }}</td>
            <td>{{ person.UNIT }}</td>
            <td>{{ person.SUB_UNIT }}</td>
            <td>{{ person.CONTACT_NUMBER }}</td>
            <td>{{ person.DATE_NEXTFULL_REENLISTMENT }}</td>
        </tr>
    {% endwith %}
{% endfor %}
    </tbody>
</table>

<!-- Pagination -->
<div class="pagination">
    <span class="step-links">
        {% if persons.has_previous %}
            <a href="?unit={{ unit_query|default:''|urlencode }}&sub_unit={{ sub_unit_query|default:''|urlencode }}&dnfr={{ dnfr_query|default:''|urlencode }}&page=1">&laquo; first</a>
            <a href="?unit={{ unit_query|default:''|urlencode }}&sub_unit={{ sub_unit_query|default:''|urlencode }}&dnfr={{ dnfr_query|default:''|urlencode }}&page={{ persons.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ persons.number }} of {{ persons.paginator.num_pages }}.
        </span>

        {% if persons.has_next %}
            <a href="?unit={{ unit_query|default:''|urlencode }}&sub_unit={{ sub_unit_query|default:''|urlencode }}&dnfr={{ dnfr_query|default:''|urlencode }}&page={{ persons.next_page_number }}">next</a>
            <a href="?unit={{ unit_query|default:''|urlencode }}&sub_unit={{ sub_unit_query|default:''|urlencode }}&dnfr={{ dnfr_query|default:''|urlencode }}&page={{ persons.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

<script>
    $(document).ready(function() {
        var subUnits = {
            "GHQ": ["OJ1"],
            "TOWWEST": ["570th ABG", "HTOWWEST", "TOG 7"],
            "TOWEASTMIN": []
        };

        function populateSubUnits(unit) {
            var subUnitSelect = $('#sub_unit');
            subUnitSelect.empty();
            subUnitSelect.append('<option>SUB UNIT</option>');
            if (unit in subUnits) {
                subUnits[unit].forEach(function(subUnit) {
                    subUnitSelect.append('<option value="' + subUnit + '">' + subUnit + '</option>');
                });
            }
        }

        $('#unit').change(function() {
            var unit = $(this).val();
            populateSubUnits(unit);
        });

        // Populate sub_units if unit is already selected
        var selectedUnit = "{{ unit_query }}";
        if (selectedUnit) {
            populateSubUnits(selectedUnit);
            $('#sub_unit').val("{{ sub_unit_query }}");
        }

        // Populate year dropdown and retain selected year
        var selectedYear = "{{ dnfr_query }}";
        var startYear = 2022;
        var yearends = startYear + 10;
        var yearDropdown = $('#dnfr');
        
        for (var year = startYear; year <= yearends; year++) {
            var option = $('<option>', {
                value: year,
                text: year,
                selected: (year == selectedYear)
            });
            yearDropdown.append(option);
        }
        function fetchAllTableData(callback) {
        let printContent = '';

        // Recursive function to fetch data from each page
        function fetchPage(pageNum) {
            $.get(window.location.pathname, {
                unit: "{{ unit_query|default:'' }}",
                sub_unit: "{{ sub_unit_query|default:'' }}",
                dnfr: "{{ dnfr_query|default:'' }}",
                page: pageNum || 1  // Fetch page 1 by default
            }).done(function(data) {
                $(data).find('tbody tr').each(function() {
                    printContent += '<tr>' + $(this).html() + '</tr>';
                });

                // If there are more pages, recursively fetch them
                const hasNextPage = $(data).find('.pagination a:contains("next")').length > 0;
                if (hasNextPage) {
                    fetchPage(pageNum + 1);
                } else {
                    // All pages fetched, invoke the callback with the complete table content
                    callback(printContent);
                }
            });
        }

        // Start fetching from the first page
        fetchPage(1);
    }

    // Event listener for export to PDF button
    $('#exportPdf').click(function() {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF({
            orientation: 'landscape', // Set PDF orientation to landscape
        });

        // Fetch all table data
        fetchAllTableData(function(tableContent) {
            // Create a temporary table to extract headers
            const tempTable = $('<table><thead>' + $('table thead').html() + '</thead><tbody>' + tableContent + '</tbody></table>');

            // Extract headers from temporary table
            const headers = [];
            tempTable.find('thead th').each(function() {
                headers.push($(this).text().trim());
            });

            // Construct rows array for autoTable
            const rows = [];
            tempTable.find('tbody tr').each(function() {
                const rowData = [];
                $(this).find('td').each(function() {
                    rowData.push($(this).text().trim());
                });
                rows.push(rowData);
            });

            // Generate PDF using jsPDF autoTable
            doc.autoTable({
                head: [headers],
                body: rows
            });

            doc.save('table.pdf');  // Save the generated PDF as 'table.pdf'
        });
    });

        // Export to Excel functionality
        $('#exportExcel').click(function() {
            const table = document.querySelector('table');
            let data = [];
            table.querySelectorAll('tr').forEach(row => {
                let rowData = [];
                row.querySelectorAll('th, td').forEach(cell => {
                    rowData.push(cell.innerText);
                });
                data.push(rowData);
            });

            const ws = XLSX.utils.aoa_to_sheet(data);
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, 'table.xlsx');
        });

        // Print table functionality
        $('#printButton').click(function() {
            let printContent = '';

            // Function to fetch data from all pages
            function fetchAllPages(pageNum) {
                $.get(window.location.pathname, {
                    unit: "{{ unit_query|default:'' }}",
                    sub_unit: "{{ sub_unit_query|default:'' }}",
                    dnfr: "{{ dnfr_query|default:'' }}",
                    page: pageNum || 1  // Fetch page 1 by default
                }).done(function(data) {
                    $(data).find('tbody tr').each(function() {
                        printContent += '<tr>' + $(this).html() + '</tr>';
                    });

                    // If there are more pages, recursively fetch them
                    const hasNextPage = $(data).find('.pagination a:contains("next")').length > 0;
                    if (hasNextPage) {
                        fetchAllPages(pageNum + 1);
                    } else {
                        // All pages fetched, now open new window and print
                        const newWindow = window.open('', '', 'height=600,width=800');
                        newWindow.document.write('<html><head><title>PAFHRMC</title>');
                        newWindow.document.write('<style>table {width: 100%;border-collapse: collapse;margin-bottom: 20px;} th, td {border: 1px solid black;padding: 8px;text-align: left;} th {background-color: #f2f2f2;} h1 {text-align: center;} .footer {text-align: center; font-size: 12px; margin-top: 20px;} .watermark {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg); opacity: 0.5; font-size: 100px; color: #d3d3d3;} @page { size: landscape; }</style>');
                        newWindow.document.write('</head><body>');
                        newWindow.document.write('<h1>PAFHRMCXXXX</h1>');
                        newWindow.document.write('<div class="watermark">CONFIDENTIAL</div>');
                        newWindow.document.write('<table class="table table-bordered table-striped">');
                        newWindow.document.write('<thead>' + $('table thead').html() + '</thead>');
                        newWindow.document.write('<tbody>' + printContent + '</tbody>');
                        newWindow.document.write('</table>');
                        newWindow.document.write('<div class="footer">');
                        newWindow.document.write('Printed on: ' + new Date().toLocaleString() + '<br>DEVELOPED BY PAFHRMC CAD/MISD');
                        newWindow.document.write('</div>');
                        newWindow.document.write('</body></html>');

                        newWindow.document.close();
                        newWindow.print();
                    }
                });
            }

            // Start fetching from the first page
            fetchAllPages(1);
        });

    });
</script>

{% endblock %}
