{% extends 'Base/base.html' %}


{% block content %}



<form>
  <div class="input-group mb-2">
      <div class="form-group col-md-2">
        
        <select id="yearDropdown" name = "rank" class="form-control">
          <option selected>YEAR</option>
        
        </select>
      </div>
      <div class="form-group col-md-4">
        <select id="unitDP" class="form-control">
          <option selected>UNIT</option>
        <option>GHQ</option>
        <option>HPAF</option>
        <option>PAFHRMC-A/U</option>
        <option>AFPWSSUS</option>
        <option>AIBDC</option>
        <option>ADC</option>
        <option>AMC</option>
        <option>ACC</option>
        <option>AETDC</option>
        <option>ARFC</option>
        <option >TOWNOL</option>
        <option >TOWSOL</option>
        <option >TOWCEN</option>
        <option >TOWWEST</option>
        <option >TOWEASTMIN</option>
        <option >TOWWESTMIN</option>
        <option >355AEW</option>
        <option >300AISW</option>
        <option >900AFWG</option>
        <option >950CEWW</option>
        <option >AFFC</option>
        <option >AFSSG</option>
        <option >HSSG</option>
        <option >PAFCMOG</option>
        <option >PAFHRMC</option>
        <option >NOLCOM</option>
        <option >SOLCOM</option>
        <option >WESCOM</option>
        <option >VISCOM</option>
        <option >WESTMINCOM</option>
        <option >EASTMINCOM</option>
        <option >JTF-NCR</option>
 
        </select>
    </div><div class="form-group col-md-4">
      <select id="SubunitDP" class="form-control">
        <option selected>SUB UNIT</option>
        
      </select>
  </div>
      <div class="form-group col-md-2">
          <select id="inputState" name="Tranche" class="form-control">
            <option selected>TRANCHE</option>
            <option>1st Tranche</option>
            <option>2nd Tranche</option>
            <option>For Medical</option>
            <option>Expired ETE</option>
          </select>
      </div>
  </div>



  <!-- <label for="unitDropdown">Select a unit:</label>
    <select id="unitDropdown">
        <option value="">--Select Unit--</option>
        <option value="unit1">Unit 1</option>
        <option value="unit2">Unit 2</option>
        <option value="unit3">Unit 3</option>
    </select>

    <label for="subunitDropdown">Select a subunit:</label>
    <select id="subunitDropdown">
        <option value="">--Select Subunit--</option>
    </select> -->



  <div class="form-group">
      <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<script>
  // Get the current year
  var currentYear = new Date().getFullYear();
  //calculte year ends
  var yearends = currentYear +10;
  var startYear = 2024;
  var yearDropdown = document.getElementById('yearDropdown');
  for (var year = startYear; year <= yearends; year++) {
      var option = document.createElement('option');
      option.value = year;
      option.textContent = year;
      yearDropdown.appendChild(option);
  }



  // Object mapping units to their respective subunits
  const unitSubunitMap = {
            'HPAF': ['OCG', 'OVC', 'OCAS', 'OSAS', 'AFCC', 'OAFIG', 'OSS', 'AFSO', 'OESPA',
            'AFSMO', 'AFPAO', 'OAFIA', 'OAFSM', 'OAFA', 'OAFPM', 'OAJA', 'OCAC',
            'OCSAF', 'OCAFDS', 'OCNAF', 'OAFCE', 'OCHCA', 'AFREO', 'AFIMAO',
            'AFCLOAC', 'OAFGAD', 'ACOFAS, A-1', 'ACOFAS, A-2', 'ACOFAS, A-3',
            'ACOFAS, A-4', 'ACOFAS, A-5', 'ACOFAS, A-6', 'ACOFAS, A-7', 'ACOFAS, A-8',
            'ACOFAS, A-9', 'ACOFAS, A-10'],
            'AIBDC':  ['HAIBDC', '520th ABG', '530th ABG', '540th ABG', '550th ABG',
            '560th ABG', '585th ABG', '590th ABG', '600ABG', '970th HECG',
            'AFGH', '1301st DD'],
            'ADC': ['HADC', '5FW', '580ACWW', '960AMDG', 'PADCC', 'ADAC'],
            'AMC':['HAMC', '205THW', '220AW', '250PAW', '505SRG'],
            'ACC': ['HACC', '15SW', '710SPOW'],
            'AETDC': [ 'HAETDC', 'PAFOS', 'PAFOCS', 'PAFFS', 'PAFNCOS', 'PAFTSS',
            'PAFBMS', 'PAFLTC', 'PAFALEN', '440AMG', 'TDC', 'AWC'],
            'ARFC': ['HAFRC', '1ARCEN', '2ARCEN', '3ARCEN', '4ARCEN', '5ARCEN', '6ARCEN', '7ARCEN', '8ARCEN'],
            'PAFHRMC-A/U': [],
            'GHQ': ['OJ1', 'OJ2', 'OJ3', 'OJ4', 'OJ5', 'OJ6', 'OJ7', 'OJ8', 'OJ9', 'OJ10', 'AFPCC','OTAG', 'OTPMG', 'OTCCHS', 'OTJAG', 'AFPPDO', 'OTQMG', 'OTSG', 'AFPSEO','AFPHRO', 'OTCN', 'OTCDS', 'OSPS', 'AFPIMAC', 'AFPREO', 'AFPEBSO', 'OTCE','AFP K9', 'AFPCOC', 'CEISO', 'CGEASH', 'OAFPSM', 'GHQTS', 'PMO', 'OSJA','ODCOP', 'ONAF', 'GHQPFO'],
            'AFPWSSUS': ['PMA', 'AFPETDC', 'CEISSAFP', 'CRSAFP', 'ISAFP', 'AFPHSC', 'AFP SOCOM', 'AFPFC', 'AFPPS', 'AFPPKOC', 'AFPCES', 'AFPMCC', 'PSG', 'AFPPGMC', 'AFPCYBER', 'AFPRESCOM', 'DND'],



          };

        // Get the dropdown elements   SubunitDP unitDP
        const unitDP = document.getElementById('unitDP');
        const SubunitDP = document.getElementById('SubunitDP');

        // Event listener for unit dropdown change
        unitDP.addEventListener('change', function() {
            // Get selected unit
            const selectedUnit = unitDP.value;

            // Clear previous subunit options
            SubunitDP.innerHTML = '<option value="">--Select Subunit--</option>';

            // If a valid unit is selected, populate subunits
            if (selectedUnit) {
                const subunits = unitSubunitMap[selectedUnit];
                subunits.forEach(function(subunit) {
                    const option = document.createElement('option');
                    option.value = subunit;
                    option.textContent = subunit;
                    SubunitDP.appendChild(option);
                });
            }
        });
</script>

{% include 'myapp/tablewithPaginator.html' %}

{% endblock %}


