


{% extends 'Base/base.html' %}


{% block content %}

{% include 'myapp/searchforms.html' %}




<table class="table table-responsive-sm table-bordered table-striped table-sm" id="sortableTable">
    <thead>
        <tr>
            <th class="sortable" data-sort="RANK">RANK</th>
            <th class="sortable" data-sort="AFPSN">AFPSN</th>

            <th class="sortable" data-sort="FULL_NAME">FULL NAME</th>
            <th class="sortable" data-sort="MOTHER_UNIT">MOTHER UNIT</th>
            <th class="sortable" data-sort="REASSIGN_EFFECTIVEDDATE">DS/TDY EFFECTIVE DATE</th>
            <th class="sortable" data-sort="NEW_UNIT">TEMPORARY UNIT</th>
            <th class="sortable" data-sort="ASSIGNMENT_CATEGORY">DS/TDY CATEGORY</th>
            <th class="sortable" data-sort="REASSIGN_EFFECTIVEDDATE_UNTIL">ASSIGNMENT END DATE</th>

        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.RANK }}</td>
            <td>{{ person.AFPSN }}</td>
            
            <td>{{ person.FIRST_NAME}} {{person.MIDDLE_NAME}} {{person.LAST_NAME}}</td>
            <td>{{ person.MOTHER_UNIT }}</td>
            <td>{{ person.REASSIGN_EFFECTIVEDDATE }}</td>
            <td>{{ person.NEW_UNIT }}</td>
            <td>{{ person.ASSIGNMENT_CATEGORY }}</td>
            <td>{{ person.REASSIGN_EFFECTIVEDDATE_UNTIL }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<nav aria-label="...">
    <ul class="pagination">
        {% if persons.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.previous_page_number }}">previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo; first</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">previous</span>
            </li>
        {% endif %}

        <li class="page-item">
            <span class="page-link">
                Page {{ persons.number }} of {{ persons.paginator.num_pages }}
            </span>
        </li>

        {% if persons.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">next</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">last &raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>
<script>// TABLE ASCEND DESCEND WHEN COLUMN TITLE IS CLICKED
    $(document).ready(function() {
        $('.sortable').each(function() {
            $(this).data('sortOrder', 'asc');
        });
    
        $('.sortable').click(function() {
            var index = $(this).index();
            var rows = $('#sortableTable tbody tr').get();
            var sortOrder = $(this).data('sortOrder');
            var newSortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
            $(this).data('sortOrder', newSortOrder);
    
            rows.sort(function(a, b) {
                var aValue = $(a).children('td').eq(index).text().toUpperCase();
                var bValue = $(b).children('td').eq(index).text().toUpperCase();
    
                if (aValue < bValue) {
                    return sortOrder === 'asc' ? -1 : 1;
                }
                if (aValue > bValue) {
                    return sortOrder === 'asc' ? 1 : -1;
                }
                return 0;
            });
    
            $.each(rows, function(index, row) {
                $('#sortableTable tbody').append(row);
            });
        });
    });
    
    </script>

{% endblock %}



<!-- <div class="form-group">
    <button type="submit" class="btn btn-primary">Search</button>
</div> -->
