<table class="table table-responsive-sm table-bordered table-striped table-sm" id="sortableTable">
    <thead>
        <tr>
            <th class="sortable" data-sort="RANK">RANK</th>
            <th class="sortable" data-sort="AFPSN">AFPSN</th>
            <th class="sortable" data-sort="LAST_NAME">LAST NAME</th>
            <th class="sortable" data-sort="FIRST_NAME">FIRST NAME</th>
            <th class="sortable" data-sort="MIDDLE_NAME">MIDDLE NAME</th>
            <th class="sortable category-column" data-sort="DATE OF FULL LAST ENLISTMENT">DATE OF FULL LAST ENLISTMENT</th>
            <th class="sortable category-column" data-sort="DATE OF 2ND TRANCHE">DATE OF 2ND TRANCHE</th>
            <th class="sortable" data-sort="MEDICAL FOR 2ND TRANCHE">MEDICAL FOR 2ND TRANCHE</th>
            <th class="sortable category-column" data-sort="MEDICAL FOR FULL REENLISTMENT">MEDICAL FOR FULL REENLISTMENT</th>
            <th class="sortable category-column" data-sort="DATE OF NEXT FULL REENLISTMENT">DATE OF NEXT FULL REENLISTMENT</th>
            <th class="sortable" data-sort="UNIT">UNIT</th>
            <th class="sortable" data-sort="SUB-UNIT">SUB-UNIT</th>
            <th class="sortable category-column" data-sort="CATEGORY">CATEGORY</th>
        </tr>
    </thead>
    <style>
        .category-column {
            display: none;
        }
    </style>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.RANK }}</td>
            <td>{{ person.SERIAL_NUMBER }}</td>
            <td>{{ person.LAST_NAME }}</td>
            <td>{{ person.FIRST_NAME }}</td>
            <td>{{ person.MIDDLE_NAME }}</td>
            <td class="category-column">{{ person.DATE_LASTFULL_REENLISTMENT }}</td>
            <td class="category-column">{{ person.DATE_OF_SECOND_TRANCHE }}</td>
            <td>{{ person.DATE_OF_MEDICAL }}</td>
            <td class="category-column">{{ person.DATE_OF_MEDICAL_OF_FULL_RE_ENLISTMENT }}</td>
            <td class="category-column">{{ person.DATE_OF_LAST_FULL_REENLISTMENT }}</td>
            <td>{{ person.UNIT }}</td>
            <td>{{ person.SUB_UNIT }}</td>
            <td class="category-column">{{ person.CATEGORY }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'modals/updateModal.html' %}
<script>
$(document).ready(function() {
    $('.openModalButton').click(function() {
        var rank = $(this).data('rank');
        var afpsn = $(this).data('afpsn');
        // POPULATING DATA TO MODAL 
        $('#ranktxt').val(rank);
        $('#afpsntxt').val(afpsn);
    });

    // TABLE ASCEND DESCEND WHEN COLUMN TITLE IS CLICKED
    $('.sortable').each(function() {
        $(this).data('sortOrder', 'asc');
    });

    $('.sortable').click(function() {
        var index = $(this).index();
        var rows = $('#sortableTable tbody tr').get();
        var sortOrder = $(this).data('sortOrder');
        var newSortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
        $(this).data('sortOrder', newSortOrder);

        rows.sort(function(a, b) {
            var aValue = $(a).children('td').eq(index).text().toUpperCase();
            var bValue = $(b).children('td').eq(index).text().toUpperCase();

            if (aValue < bValue) {
                return sortOrder === 'asc' ? -1 : 1;
            }
            if (aValue > bValue) {
                return sortOrder === 'asc' ? 1 : -1;
            }
            return 0;
        });

        $.each(rows, function(index, row) {
            $('#sortableTable tbody').append(row);
        });
    });

    // Function to add years to a given date string
    function addYearsToDate(dateString, years) {
        var date = new Date(dateString);
        date.setFullYear(date.getFullYear() + years);
        // Adjust the format to "day/MONTH/Year"
        var day = date.getDate();
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var month = monthNames[date.getMonth()];
        var year = date.getFullYear();
        return day + ' ' + month + ' ' + year;
    }

    // Update the "DATE_OF_SECOND_TRANCHE" cell in each row
    $('#sortableTable tbody tr').each(function() {
        var lastFullReenlistmentDate = $(this).find('td:eq(5)').text(); // Assuming the "DATE_LASTFULL_REENLISTMENT" column is at index 5
        var category = $(this).find('td:eq(12)').text(); // Assuming the "CATEGORY" column is at index 12

        if (category.trim().toUpperCase() === 'OFFICER') {
            $(this).hide();
        } else {
            // Calculate the date of the second tranche based on the last full reenlistment date
            var newDateOfSecondTranche = addYearsToDate(lastFullReenlistmentDate, 3);
            $(this).find('td:eq(6)').text(newDateOfSecondTranche); // Assuming the "DATE_OF_SECOND_TRANCHE" column is at index 6

            // Calculate the date of medical based on the last full reenlistment date
            var newDateOfMedical = addYearsToDate(lastFullReenlistmentDate, 2);
            $(this).find('td:eq(7)').text(newDateOfMedical); // Assuming the "DATE_OF_MEDICAL" column is at index 7

            // Calculate the date of medical for full reenlistment based on the last full reenlistment date
            var newDateOfMedicalForFullReenlistment = addYearsToDate(lastFullReenlistmentDate, 5);
            $(this).find('td:eq(8)').text(newDateOfMedicalForFullReenlistment); // Assuming the "DATE_OF_MEDICAL_OF_FULL_RE_ENLISTMENT" column is at index 8

            // Calculate the date of next full reenlistment based on the last full reenlistment date
            var newDateOfLastFullReenlistment = addYearsToDate(lastFullReenlistmentDate, 6);
            $(this).find('td:eq(9)').text(newDateOfLastFullReenlistment); // Assuming the "DATE_OF_LAST_FULL_REENLISTMENT" column is at index 9
        }
    });
});
</script>


<nav aria-label="...">
    <ul class="pagination">
        {% if persons.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if last_name_query %}&last_name={{ last_name_query }}{% endif %}{% if first_name_query %}&first_name={{ first_name_query }}{% endif %}{% if middle_name_query %}&middle_name={{ middle_name_query }}{% endif %}{% if suffix_query %}&suffix={{ suffix_query }}{% endif %}{% if afsn_query %}&afsn={{ afsn_query }}{% endif %}{% if rank_query %}&rank={{ rank_query }}{% endif %}{% if category_query %}&category={{ category_query }}{% endif %}{% if sex_query %}&sex={{ sex_query }}{% endif %}{% if unit_query %}&unit={{ unit_query }}{% endif %}">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.previous_page_number }}{% if last_name_query %}&last_name={{ last_name_query }}{% endif %}{% if first_name_query %}&first_name={{ first_name_query }}{% endif %}{% if middle_name_query %}&middle_name={{ middle_name_query }}{% endif %}{% if suffix_query %}&suffix={{ suffix_query }}{% endif %}{% if afsn_query %}&afsn={{ afsn_query }}{% endif %}{% if rank_query %}&rank={{ rank_query }}{% endif %}{% if category_query %}&category={{ category_query }}{% endif %}{% if sex_query %}&sex={{ sex_query }}{% endif %}{% if unit_query %}&unit={{ unit_query }}{% endif %}">previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo; first</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">previous</span>
            </li>
        {% endif %}

        <li class="page-item">
            <span class="page-link">
                Page {{ persons.number }} of {{ persons.paginator.num_pages }}
            </span>
        </li>

        {% if persons.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.next_page_number }}{% if last_name_query %}&last_name={{ last_name_query }}{% endif %}{% if first_name_query %}&first_name={{ first_name_query }}{% endif %}{% if middle_name_query %}&middle_name={{ middle_name_query }}{% endif %}{% if suffix_query %}&suffix={{ suffix_query }}{% endif %}{% if afsn_query %}&afsn={{ afsn_query }}{% endif %}{% if rank_query %}&rank={{ rank_query }}{% endif %}{% if category_query %}&category={{ category_query }}{% endif %}{% if sex_query %}&sex={{ sex_query }}{% endif %}{% if unit_query %}&unit={{ unit_query }}{% endif %}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.paginator.num_pages }}{% if last_name_query %}&last_name={{ last_name_query }}{% endif %}{% if first_name_query %}&first_name={{ first_name_query }}{% endif %}{% if middle_name_query %}&middle_name={{ middle_name_query }}{% endif %}{% if suffix_query %}&suffix={{ suffix_query }}{% endif %}{% if afsn_query %}&afsn={{ afsn_query }}{% endif %}{% if rank_query %}&rank={{ rank_query }}{% endif %}{% if category_query %}&category={{ category_query }}{% endif %}{% if sex_query %}&sex={{ sex_query }}{% endif %}{% if unit_query %}&unit={{ unit_query }}{% endif %}">last &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">next</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">last &raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>