<table class="table table-responsive-sm table-bordered table-striped table-sm" id="sortableTable">
    <thead>
        <tr>
            <th class="sortable" data-sort="RANK">RANK</th>
            <th class="sortable" data-sort="AFPSN">AFPSN</th>
            <th class="sortable" data-sort="LAST_NAME">LAST NAME</th>
            <th class="sortable" data-sort="FIRST_NAME">FIRST NAME</th>
            <th class="sortable" data-sort="MIDDLE_NAME">MIDDLE NAME</th>
            <th class="sortable category-column" data-sort="DATE OF FULL LAST ENLISTMENT">DATE OF FULL LAST ENLISTMENT</th>
            <th class="sortable category-column" data-sort="DATE OF 2ND TRANCHE">DATE OF 2ND TRANCHE</th>
            <th class="sortable category-column" data-sort="MEDICAL FOR 2ND TRANCHE">MEDICAL FOR 2ND TRANCHE</th>
            <th class="sortable" data-sort="MEDICAL FOR FULL REENLISTMENT">MEDICAL FOR FULL REENLISTMENT</th>
            <th class="sortable category-column" data-sort="DATE OF NEXT FULL REENLISTMENT">DATE OF NEXT FULL REENLISTMENT</th>
            <th class="sortable" data-sort="UNIT">UNIT</th>
            <th class="sortable" data-sort="SUB-UNIT">SUB-UNIT</th>
            <th class="sortable category-column" data-sort="CATEGORY">CATEGORY</th>
        </tr>
    </thead>
    <style>
        .category-column {
            display: none;
        }
    </style>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.RANK }}</td>
            <td>{{ person.SERIAL_NUMBER }}</td>
            <td>{{ person.LAST_NAME }}</td>
            <td>{{ person.FIRST_NAME }}</td>
            <td>{{ person.MIDDLE_NAME }}</td>
            <td class="category-column">{{ person.DATE_LASTFULL_REENLISTMENT }}</td>
            <td class="category-column">{{ person.DATE_OF_SECOND_TRANCHE }}</td>
            <td class="category-column">{{ person.DATE_OF_MEDICAL }}</td>
            <td>{{ person.DATE_OF_MEDICAL_OF_FULL_RE_ENLISTMENT }}</td>
            <td class="category-column">{{ person.DATE_OF_LAST_FULL_REENLISTMENT }}</td>
            <td>{{ person.UNIT }}</td>
            <td>{{ person.SUB_UNIT }}</td>
            <td class="category-column">{{ person.CATEGORY }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'modals/updateModal.html' %}
<script>
$(document).ready(function() {
    // Populating data to modal
    $('.openModalButton').click(function() {
        var rank = $(this).data('rank');
        var afpsn = $(this).data('afpsn');
        $('#ranktxt').val(rank);
        $('#afpsntxt').val(afpsn);
    });

    // Table sorting
    $('.sortable').each(function() {
        $(this).data('sortOrder', 'asc');
    });

    $('.sortable').click(function() {
        var index = $(this).index();
        var rows = $('#sortableTable tbody tr').get();
        var sortOrder = $(this).data('sortOrder');
        var newSortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
        $(this).data('sortOrder', newSortOrder);

        rows.sort(function(a, b) {
            var aValue = $(a).children('td').eq(index).text().toUpperCase();
            var bValue = $(b).children('td').eq(index).text().toUpperCase();

            if (aValue < bValue) {
                return sortOrder === 'asc' ? -1 : 1;
            }
            if (aValue > bValue) {
                return sortOrder === 'asc' ? 1 : -1;
            }
            return 0;
        });

        $.each(rows, function(index, row) {
            $('#sortableTable tbody').append(row);
        });
    });

    // Calculate dates based on last full reenlistment date
    function addYearsToDate(dateString, years) {
        var date = new Date(dateString);
        date.setFullYear(date.getFullYear() + years);
        var day = date.getDate();
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var month = monthNames[date.getMonth()];
        var year = date.getFullYear();
        return day + ' ' + month + ' ' + year;
    }

    $('#sortableTable tbody tr').each(function() {
        var lastFullReenlistmentDate = $(this).find('td:eq(5)').text();
        var category = $(this).find('td:eq(12)').text();

        if (category.trim().toUpperCase() === 'OFFICER') {
            $(this).hide();
        } else {
            var newDateOfSecondTranche = addYearsToDate(lastFullReenlistmentDate, 3);
            $(this).find('td:eq(6)').text(newDateOfSecondTranche);

            var newDateOfMedical = addYearsToDate(lastFullReenlistmentDate, 2);
            $(this).find('td:eq(7)').text(newDateOfMedical);

            var newDateOfMedicalForFullReenlistment = addYearsToDate(lastFullReenlistmentDate, 5);
            $(this).find('td:eq(8)').text(newDateOfMedicalForFullReenlistment);

            var newDateOfLastFullReenlistment = addYearsToDate(lastFullReenlistmentDate, 6);
            $(this).find('td:eq(9)').text(newDateOfLastFullReenlistment);
        }
    });
});
</script>
<nav aria-label="...">
    <ul class="pagination">
        {% if persons.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.previous_page_number }}">previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo; first</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">previous</span>
            </li>
        {% endif %}
        <li class="page-item">
            <span class="page-link">
                Page {{ persons.number }} of {{ persons.paginator.num_pages }}
            </span>
        </li>
        {% if persons.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.paginator.num_pages }}">last &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">next</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">last &raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>