

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css">

<table class="table table-responsive-sm table-bordered table-striped table-sm" id="sortableTable">
    <thead>
        <tr>
            <th class="sortable" data-sort="RANK">Rank</th>
            <th class="sortable" data-sort="AFPSN">AFPSN</th>
            <th class="sortable" data-sort="FULL_NAME">Full Name</th>
            <th class="sortable" data-sort="UNIT">Unit</th>
            <th class="sortable" data-sort="SUB_UNIT">Sub-Unit</th>
            <th class="sortable" data-sort="CATEGORY">category</th>

        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.RANK }}</td>
            <td>{{ person.SERIAL_NUMBER }}</td>
            <td>{{ person.FIRST_NAME}} {{person.MIDDLE_NAME}} {{person.LAST_NAME}}</td>
            <td>{{ person.UNIT }}</td>
            <td>{{ person.SUB_UNIT }}</td>
            <td>{{ person.CATEGORY }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>



  {% include 'modals/set_status_modal.html' %}
  
 <script>
$(document).ready(function() {
    $('.openModalButton').click(function() {
        var rank = $(this).data('rank');
        var lastname = $(this).data('lastname');
        var firstname = $(this).data('firstname');
        var middlename = $(this).data('middlename');
        if (middlename === "nan") {
            middlename = '';
        }
        var suffix = $(this).data('suffix');
        if (suffix === "nan") {
          suffix = '';
        }
        var afpsn = $(this).data('afpsn');
        var unit = $(this).data('unit');
        var bos = $(this).data('bos');



        // POPULATING DATA TO MODAL 
        $('#ranktxt').val(rank);
        $('#lastnametxt').val(lastname);
        $('#firstnametxt').val(firstname);
        $('#middlenametxt').val(middlename);
        $('#suffixtxt').val(suffix);
        $('#afpsntxt').val(afpsn);
        $('#unitDP').val(unit);
        $('#bostxt').val(bos);


    });
});



// TABLE ASCEND DESCEND WHEN COLUMN TITLE IS CLICKED
$(document).ready(function() {
    $('.sortable').each(function() {
        $(this).data('sortOrder', 'asc');
    });

    $('.sortable').click(function() {
        var index = $(this).index();
        var rows = $('#sortableTable tbody tr').get();
        var sortOrder = $(this).data('sortOrder');
        var newSortOrder = sortOrder === 'asc' ? 'desc' : 'asc';
        $(this).data('sortOrder', newSortOrder);

        rows.sort(function(a, b) {
            var aValue = $(a).children('td').eq(index).text().toUpperCase();
            var bValue = $(b).children('td').eq(index).text().toUpperCase();

            if (aValue < bValue) {
                return sortOrder === 'asc' ? -1 : 1;
            }
            if (aValue > bValue) {
                return sortOrder === 'asc' ? 1 : -1;
            }
            return 0;
        });

        $.each(rows, function(index, row) {
            $('#sortableTable tbody').append(row);
        });
    });
});


  </script>



<nav aria-label="...">
    <ul class="pagination">
        {% if persons.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if last_name_query %}&last_name={{ last_name_query }}{% endif %}{% if first_name_query %}&first_name={{ first_name_query }}{% endif %}{% if middle_name_query %}&middle_name={{ middle_name_query }}{% endif %}{% if suffix_query %}&suffix={{ suffix_query }}{% endif %}{% if afpsn_query %}&afpsn={{ afpsn_query }}{% endif %}{% if rank_query %}&rank={{ rank_query }}{% endif %}{% if category_query %}&category={{ category_query }}{% endif %}{% if sex_query %}&sex={{ sex_query }}{% endif %}{% if unit_query %}&unit={{ unit_query }}{% endif %}">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.previous_page_number }}{% if last_name_query %}&last_name={{ last_name_query }}{% endif %}{% if first_name_query %}&first_name={{ first_name_query }}{% endif %}{% if middle_name_query %}&middle_name={{ middle_name_query }}{% endif %}{% if suffix_query %}&suffix={{ suffix_query }}{% endif %}{% if afpsn_query %}&afpsn={{ afpsn_query }}{% endif %}{% if rank_query %}&rank={{ rank_query }}{% endif %}{% if category_query %}&category={{ category_query }}{% endif %}{% if sex_query %}&sex={{ sex_query }}{% endif %}{% if unit_query %}&unit={{ unit_query }}{% endif %}">previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo; first</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">previous</span>
            </li>
        {% endif %}

        <li class="page-item">
            <span class="page-link">
                Page {{ persons.number }} of {{ persons.paginator.num_pages }}
            </span>
        </li>

        {% if persons.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.next_page_number }}{% if last_name_query %}&last_name={{ last_name_query }}{% endif %}{% if first_name_query %}&first_name={{ first_name_query }}{% endif %}{% if middle_name_query %}&middle_name={{ middle_name_query }}{% endif %}{% if suffix_query %}&suffix={{ suffix_query }}{% endif %}{% if afpsn_query %}&afpsn={{ afpsn_query }}{% endif %}{% if rank_query %}&rank={{ rank_query }}{% endif %}{% if category_query %}&category={{ category_query }}{% endif %}{% if sex_query %}&sex={{ sex_query }}{% endif %}{% if unit_query %}&unit={{ unit_query }}{% endif %}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ persons.paginator.num_pages }}{% if last_name_query %}&last_name={{ last_name_query }}{% endif %}{% if first_name_query %}&first_name={{ first_name_query }}{% endif %}{% if middle_name_query %}&middle_name={{ middle_name_query }}{% endif %}{% if suffix_query %}&suffix={{ suffix_query }}{% endif %}{% if afpsn_query %}&afpsn={{ afpsn_query }}{% endif %}{% if rank_query %}&rank={{ rank_query }}{% endif %}{% if category_query %}&category={{ category_query }}{% endif %}{% if sex_query %}&sex={{ sex_query }}{% endif %}{% if unit_query %}&unit={{ unit_query }}{% endif %}">last &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">next</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">last &raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>


<!--  -->