<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    .pagination {
        margin: 20px 0;
        text-align: center;
    }
    .pagination a {
        margin: 0 5px;
        text-decoration: none;
        color: #007BFF;
    }
    .pagination span.current {
        margin: 0 5px;
        font-weight: bold;
    }
</style>
</head>
<body>
    {% if grouped_units %}
        {% for category, units in grouped_units.items %}
            <h2>{{ category }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>PK Units</th>
                        <th>Unit Name</th>
                        <th>Unit Description</th>
                        <th>Logo</th>
                        <th>Mother Unit</th>
                        <th>Unit Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in units %}
                        <tr>
                            <td>{{ unit.PK_Units }}</td>
                            <td><a href="{% url 'unit_rooster' unit.PK_Units %}">{{ unit.UnitName }}</a></td>
                            <td>{{ unit.UnitDescription }}</td>
                            <td>{{ unit.Logo }}</td>
                            <td>{{ unit.FK_MotherUnit }}</td>
                            <td>{{ unit.UnitCategory }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <p>No units available.</p>
    {% endif %}
      <!-- Section for main units -->
      <h2>All PAF Units</h2>
      <table>
          <thead>
              <tr>
                  <th>PK Units</th>
                  <th>Unit Name</th>
                  <th>Unit Description</th>
                  <th>Logo</th>
                  <th>Mother Unit</th>
                  <th>Unit Category</th>
              </tr>
          </thead>
          <tbody>
              {% for unit in main_units %}
                  <tr>
                      <td>{{ unit.PK_Units }}</td>
                      <td><a href="{% url 'unit_rooster' unit.PK_Units %}">{{ unit.UnitName }}</a></td>
                      <td>{{ unit.UnitDescription }}</td>
                      <td>{{ unit.Logo }}</td>
                      <td>{{ unit.FK_MotherUnit }}</td>
                      <td>{{ unit.UnitCategory }}</td>
                  </tr>
              {% empty %}
                  <tr>
                      <td colspan="6">No main units available.</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
</body>