<style>
    /* Style for form-select */
    .form-select {
        display: block;
        width: 100%;
        padding: .375rem 2.25rem .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    /* Style for the dropdown arrow */
    .form-select::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 1.75rem;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        pointer-events: none;
        border-style: solid;
        border-width: .3rem .3rem 0 .3rem;
        border-color: #495057 transparent transparent transparent;
    }

    /* Style for the focus state */
    .form-select:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(0, 123, 255, .25);
    }

    /* Style for the disabled state */
    .form-select:disabled {
        background-color: #e9ecef;
        opacity: 1;
    }


    /* style for upload file */


    
    /* Style for the form label */
    .form-label {
      /* font-weight: bold; */
      /* color: #333; */
    }

    /* Style for the form control */
    .form-control {
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    /* Style for the file input */
    .custom-file {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .custom-file-input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
    }

    .custom-file-label {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      height: calc(1.5em + 1rem + 2px);
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .custom-file-label::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      height: calc(1.5em + 1rem + 2px);
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      content: 'Upload';
      background-color: #e9ecef;    
      border-left: inherit;
      border-radius: 0 0.25rem 0.25rem 0;
    }

    .custom-file-input:focus~.custom-file-label {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
    }

    .custom-file-input:focus~.custom-file-label::after {
      border-color: #80bdff;
    }

 

    /* alert */
    .alert-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100000;

  }
  .alert-box .alert-content {
    color: #155724;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  .alert-box .close-btn {
    background-color: #155724;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
 

</style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Reassignment Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <form id="PlacementupdateForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="personnel_id" name="personnel_id">
        
            <!-- First Row: Form elements aligned in two columns -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="ranktxt">Rank</label>
                  <input name="rank" id="ranktxt" class="form-control" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="afpsntxt">AFPSN</label>
                  <input type="text" id="afpsntxt" class="form-control" placeholder="AFPSN" disabled>
                </div>
              </div>
            </div>
        
            <!-- Second Row: Form elements aligned in two columns -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="lastnametxt">Last Name</label>
                  <input type="text" id="lastnametxt" name="last_name" class="form-control" placeholder="Last Name" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="firstnametxt">First Name</label>
                  <input type="text" id="firstnametxt" name="first_name" class="form-control" placeholder="First Name" readonly>
                </div>
              </div>
            </div>
        
            <!-- Third Row: Form elements aligned in two columns -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="middlenametxt">Middle Name</label>
                  <input type="text" id="middlenametxt" name="middle_name" class="form-control" placeholder="Middle Name" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="suffixtxt">Suffix</label>
                  <input type="text" id="suffixtxt" name="suffix" class="form-control" placeholder="Suffix" readonly>
                </div>
              </div>
            </div>
        
            <!-- Fourth Row: Present Unit and new Textbox -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="presentUnit" class="form-label">Present Unit</label>
                  <select id="unitDP" name="unit" class="form-select" disabled >
                    <option selected>UNIT</option>
                    <!-- Add other options here -->
                    <option>GHQ</option>
                    <option>HPAF</option>
                    <option>PAFHRMC-A/U</option>
                    <option>PAFHRMC</option>
                    <option>AFPWSSUS</option>
                    <option>AIBDC</option>
                    <option>ADC</option>
                    <option>AMC</option>
                    <option>ACC</option>
                    <option>AETDC</option>
                    <option>ARFC</option>
                    <option>TOWNOL</option>
                    <option>TOWSOL</option>
                    <option>TOWCEN</option>
                    <option>TOWWEST</option>
                    <option>TOWEASTMIN</option>
                    <option>TOWWESTMIN</option>
                    <option>355AEW</option>
                    <option>300AISW</option>
                    <option>900AFWG</option>
                    <option>950CEWW</option>
                    <option>AFFC</option>
                    <option>AFSSG</option>
                    <option>HSSG</option>
                    <option>PAFCMOG</option>
                    <option>PAFHRMC</option>
                    <option>NOLCOM</option>
                    <option>SOLCOM</option>
                    <option>WESCOM</option>
                    <option>VISCOM</option>
                    <option>WESTMINCOM</option>
                    <option>EASTMINCOM</option>
                    <option>JTF-NCR</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="mb-4">
                  <label for="bostxt">Branch of Service</label>
                  <input type="text" id="bostxt" name="bostxt" class="form-control" placeholder="Branch of Service" disabled>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="new_unit" class="form-label">Reassignment Unit</label>
              <select id="new_unit" name="new_unit" class="form-select" required>
                <option selected></option>
                <option>GHQ</option>
                <option>HPAF</option>
                <option>PAFHRMC-A/U</option>
                <option>PAFHRMC</option>
                <option>AFPWSSUS</option>
                <option>AIBDC</option>
                <option>ADC</option>
                <option>AMC</option>
                <option>ACC</option>
                <option>AETDC</option>
                <option>ARFC</option>
                <option>TOWNOL</option>
                <option>TOWSOL</option>
                <option>TOWCEN</option>
                <option>TOWWEST</option>
                <option>TOWEASTMIN</option>
                <option>TOWWESTMIN</option>
                <option>355AEW</option>
                <option>300AISW</option>
                <option>900AFWG</option>
                <option>950CEWW</option>
                <option>AFFC</option>
                <option>AFSSG</option>
                <option>HSSG</option>
                <option>PAFCMOG</option>
                <option>PAFHRMC</option>
                <option>NOLCOM</option>
                <option>SOLCOM</option>
                <option>WESCOM</option>
                <option>VISCOM</option>
                <option>WESTMINCOM</option>
                <option>EASTMINCOM</option>
                <option>JTF-NCR</option>
              </select>
            </div>

            

            


            <div class="mb-3">
              <label for="reassignmentDate" class="form-label">Reassignment Effective Date</label>
              <input type="date" class="form-control" id="reassignmentDate" name="reassignmentDate" required>
            </div>

            <div class="mb-3">
              <label  class="form-label">Assignment Category</label>
                <select name="assignmentcategory" for="assignmentcategory" id="assignmentcategorytxt" name = 'assignmentcategory ' class="form-control">
                  <optgroup label="Category">
                    <option>Assign</option>
                  <option>Detached Service</option>
                  <option>Temporary Duty</option>
                  </optgroup>
              </select>
            </div>

            <div class="mb-3" id="dropdownContainer" hidden>
              <label class="form-label">Assignment effective date until:</label>

              <label  class="form-label" id="untildatelbl" > </label>

              <select name="duration" for="duration" id="durationtxt" class="form-control">
                <optgroup label="Duration">
                  <option>6 Months</option>
                  <option>1 Year</option>
                  <option>2 Years</option>
                </optgroup>
              </select>
            </div>
            
            <div class="mb-3">
                <label for="uploadOrder" class="form-label">Upload Order</label>
                <div class="custom-file">
                  <input type="file" class="form-control custom-file-input" id="uploadOrder" name="uploadOrder" required>
                  <label class="custom-file-label" for="uploadOrder">Choose file...</label>
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

<!-- alert section -->
<div class="alert-box" id="alertBox">
  <div class="alert-content">Please enter the reassignment effective date first.</div>
  <button class="close-btn" id="closeAlertBtn">OK</button>
</div>
<!-- /alert section -->

  <script>
// if the reaasgined date is empty, do something
var previousValue = document.getElementById('assignmentcategorytxt').value;
var untilDateLabel = document.getElementById('untildatelbl');

document.getElementById('reassignmentDate').addEventListener('change', function() {
  //populate date to untildatelbl
  // Get the value of the reassignmentDate input
  var reassignmentDateValue = document.getElementById('reassignmentDate').value;
  // Convert the input date string to a Date object
  var reassignmentDate = new Date(reassignmentDateValue);
  var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  // Format the date as "dd-mmm-yyyy"
  var formattedDate = ("0" + reassignmentDate.getDate()).slice(-2) + "-" + 
                      months[reassignmentDate.getMonth()] + "-" + 
                      reassignmentDate.getFullYear();
  // Get the label element by its ID
  // new var format = dd-mm-yyyy
  var formattedDate2 = reassignmentDate.toLocaleDateString('en-GB');
  var untildatelbl = document.getElementById('untildatelbl');
  // Set the text content of the label
  untildatelbl.textContent = formattedDate2;

  console.log(reassignmentDateValue);

});

// ends

// hides the dropdown of DS and TDY if dropdown option is assigned
  document.getElementById('assignmentcategorytxt').addEventListener('change', function() {
    var reassignmentDate = document.getElementById('reassignmentDate').value;
    var selectedCategory = this.value;
    var dropdownContainer = document.getElementById('dropdownContainer');
    if ((selectedCategory === 'Detached Service' || selectedCategory === 'Temporary Duty') && !reassignmentDate) {
      showAlert();
      this.value = previousValue;
      dropdownContainer.classList.add('hidden');
    } else {
      dropdownContainer.classList.remove('hidden');
      previousValue = selectedCategory;
    }
  });


// event for duration drop down
function computeDate() {
    // Get the value of the reassignmentDate input
    var reassignmentDateValue = document.getElementById('reassignmentDate').value;
    // Convert the input date string to a Date object
    var reassignmentDate = new Date(reassignmentDateValue);
    // Get the value of the duration dropdown
    var durationSelect = document.getElementById('durationtxt');
    var selectedDuration = durationSelect.value; // Value from the duration dropdown
    // Define variables for years and months to add
    var yearsToAdd = 0;
    var monthsToAdd = 0;
    // Determine years and months based on the selected duration
    switch(selectedDuration) {
        case "6 Months":
            monthsToAdd = 6;
            break;
        case "1 Year":
            yearsToAdd = 1;
            break;
        case "2 Years":
            yearsToAdd = 2;
            break;
        default:
            break;
    }
    // Calculate the new date by adding the selected duration to the reassignment date
    var newDate = new Date(reassignmentDate.getTime());
    // Add years
    newDate.setFullYear(newDate.getFullYear() + yearsToAdd);
    // Add months
    newDate.setMonth(newDate.getMonth() + monthsToAdd);
    // Format the new date as "dd-mm-yyyy"
    var day = ("0" + newDate.getDate()).slice(-2);
    var month = ("0" + (newDate.getMonth() + 1)).slice(-2);
    var year = newDate.getFullYear();
    var formattedNewDate = day + "-" + month + "-" + year;
    // Display the new date
    // document.getElementById('untildatelbl').textContent = "Effective Until: " + formattedNewDate;
    document.getElementById('untildatelbl').textContent = formattedNewDate;
}

// Add event listener to reassignment date picker
document.getElementById('reassignmentDate').addEventListener('change', computeDate);

// Add event listener to duration dropdown
document.getElementById('durationtxt').addEventListener('change', computeDate);




  document.getElementById('closeAlertBtn').addEventListener('click', function() {
    hideAlert();
  });

  function showAlert() {
    var alertBox = document.getElementById('alertBox');
    alertBox.style.display = 'block';
  }

  function hideAlert() {
    var alertBox = document.getElementById('alertBox');
    alertBox.style.display = 'none';
  }
// =======================================

    $(document).ready(function() {
    // Add change event listener to the file input
    $('#uploadOrder').change(function() {
        // Get the name of the selected file
        var fileName = $(this).val().split('\\').pop();
        // Display the file name in the custom file label
        $('.custom-file-label').text(fileName);
    });
});



    $(document).ready(function() {
      $('.openModalButton').click(function() {

        $('#personnel_id').val(personnel_id);
        var afpsn = $(this).data('afpsn'); // Assuming 'afpsn' is the unique identifier
        var lastname = $(this).data('lastname');
        var firstname = $(this).data('firstname');
        var middlename = $(this).data('middlename');
        var suffix = $(this).data('suffix');
        var old_unit = $(this).data('unit');

        console.log("THIS IS SPARRTAAAAAAAAAAAAAAAN",afpsn,lastname,firstname,middlename,suffix,old_unit,);
        



        // Populate the subunit dropdown based on the selected unit

      });
    });


    var selectElement = document.getElementById('assignmentcategorytxt');
        // Add event listener for change event
        selectElement.addEventListener('change', function(event) {
            // Get the selected option
            var selectedOption = event.target.value;
            // Check if the selected option is not "Assigned"
            if (selectedOption !== 'Assign') {
              document.getElementById('dropdownContainer').removeAttribute('hidden');
            }else{
              document.getElementById('dropdownContainer').setAttribute('hidden', 'hidden');
            }
        });
        


        $('#PlacementupdateForm').submit(function(event) {
    // Prevent the default form submission behavior
    event.preventDefault();
    
    // Serialize form data
    var formData = $(this).serialize();
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

    // Perform AJAX request to submit the form data
    $.ajax({
        url: '{% url "placement_update_officer" %}', // Replace with the URL of your server-side script
        method: 'POST',
        data: formData,
        headers: {
            'X-CSRFToken': csrfToken
        },
        success: function(response) {
            if (response.success) {
                console.log('Data updated successfully!');

                
                // Optionally, show a success message to the user
                Swal.fire({
                    title: 'Updated Successfully',
                    text: 'Your data has been updated successfully!',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
            } else {
                console.error('Error updating data:', response.error);
                
                // Optionally, show an error message to the user
                Swal.fire({
                    title: 'Update Failed',
                    text: response.error,
                    icon: 'error',
                    confirmButtonText: 'Try Again'
                });
            $('#personnel_id').val(personnel_id);
            var afpsn = $(this).data('afpsn'); // Assuming 'afpsn' is the unique identifier
            var lastname = $(this).data('lastname');
            var firstname = $(this).data('firstname');
            var middlename = $(this).data('middlename');
            var suffix = $(this).data('suffix');
            var old_unit = $(this).data('unit');
            var new_unit = $(this).data('new_unit');
            var dropdown = document.getElementById("reassignmentDate");
            var reassignment_effectivedate = dropdown.value;

            var duration_dropdown = document.getElementById('untildatelbl').textContent;
           
            console.log("This is  ",duration_dropdown.value)
            var untildatelbls = duration_dropdown.textContent;

            console.log("THIS IS SPARRTAAAAAAAAAAAAAAAN0",afpsn,untildatelbls,new_unit,reassignment_effectivedate,category_assignment,lastname,firstname,middlename,suffix);
            }
        },
        error: function(xhr, status, error) {
            console.error('Error updating data:', error);
            
            
            // Optionally, show an error message to the user
            Swal.fire({
                title: 'Update Failed',
                text: 'An error occurred while updating data. Please try again later.',
                icon: 'error',
                confirmButtonText: 'Try Again'
            });

            $('#personnel_id').val(personnel_id);
            var afpsn_dropdown = document.getElementById("afpsntxt");
            var afpsn = afpsn_dropdown.value;

            var lastname_dp = document.getElementById("lastnametxt");
            var lastname = lastname_dp.value;

            var firstname_dp = document.getElementById("firstnametxt");
            var firstname = firstname_dp.value;

            var middlename_dp = document.getElementById("middlenametxt");
            var middlename = middlename_dp.value;

            var suffix_dp = document.getElementById("suffixtxt");
            var suffix = suffix_dp.value;


            var oldunit_dp = document.getElementById("unitDP");
            var old_unit = oldunit_dp.value;
            
            var newUnit_dropdown = document.getElementById("new_unit");
            var new_unit = newUnit_dropdown.value;

            var reasigndate_dropdown = document.getElementById("reassignmentDate");
            var reassignment_effectivedate = reasigndate_dropdown.value;

            var assign_category_dropdown = document.getElementById("assignmentcategorytxt");
            var category_assignment = assign_category_dropdown.value;

            var labelElement = document.getElementById('untildatelbl');
            // Get the text content of the element
            var labelText = labelElement.textContent;
                      
            // Log the text content to the console
            console.log("THIS IS SPARRTAAAAAAAAAAAAAAAN",labelText);

            var duration_dropdown = document.getElementById('untildatelbl').textContent;
            var untildatelbls = duration_dropdown.textContent;

            console.log("AFPSN",afpsn,"UNTILDATE:",labelText,"NEW_UNIT:",new_unit,"REASSIGNMENTEFFECTIVE:",reassignment_effectivedate,"CATEGORY_REASSIGNMENT:",category_assignment
            ,"NAME:",lastname,firstname,middlename,suffix,"OLDUNIT:",old_unit,"NEW_UNIT:",new_unit);
            


        }


        
    });
    
});






  </script>
  