<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    /* Style for form-select */
    .form-select {
        display: block;
        width: 100%;
        padding: .375rem 2.25rem .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    /* Style for the dropdown arrow */
    .form-select::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 1.75rem;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        pointer-events: none;
        border-style: solid;
        border-width: .3rem .3rem 0 .3rem;
        border-color: #495057 transparent transparent transparent;
    }

    /* Style for the focus state */
    .form-select:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(0, 123, 255, .25);
    }

    /* Style for the disabled state */
    .form-select:disabled {
        background-color: #e9ecef;
        opacity: 1;
    }


    /* style for upload file */


    
    /* Style for the form label */
    .form-label {
      /* font-weight: bold; */
      /* color: #333; */
    }

    /* Style for the form control */
    .form-control {
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    /* Style for the file input */
    .custom-file {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .custom-file-input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
    }

    .custom-file-label {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      height: calc(1.5em + 1rem + 2px);
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .custom-file-label::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: block;
      height: calc(1.5em + 1rem + 2px);
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      color: #495057;
      content: 'Upload';
      background-color: #e9ecef;    
      border-left: inherit;
      border-radius: 0 0.25rem 0.25rem 0;
    }

    .custom-file-input:focus~.custom-file-label {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
    }

    .custom-file-input:focus~.custom-file-label::after {
      border-color: #80bdff;
    }

 

    /* alert */
    .alert-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100000;

  }
  .alert-box .alert-content {
    color: #155724;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  .alert-box .close-btn {
    background-color: #155724;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
 

</style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Reassignment Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-body">
          <form id="PlacementupdateForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="personnel_id" name="personnel_id">
        
            <!-- First Row: Form elements aligned in two columns -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-4">
                  <label >Rank</label>
                  <input name="rank" id="ranktxt" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-4">
                  <label >AFPSN</label>
                  <input type="text" id="afpsntxt" name="afpsn" class="form-control" placeholder="AFPSN" readonly>
                </div>
              </div>
            </div>
            
        
            <!-- Second Row: Form elements aligned in two columns -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-4">
                  <label >Last Name</label>
                  <input type="text" id="lastnametxt" name="last_name" class="form-control" placeholder="Last Name" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-4">
                  <label >First Name</label>
                  <input type="text" id="firstnametxt" name="first_name" class="form-control" placeholder="First Name" readonly>
                </div>
              </div>
            </div>
        
            <!-- Third Row: Form elements aligned in two columns -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-4">
                  <label >Middle Name</label>
                  <input type="text" id="middlenametxt" name="middle_name" class="form-control" placeholder="Middle Name" readonly>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-4">
                  <label >Suffix</label>
                  <input type="text" id="suffixtxt" name="suffix" class="form-control" placeholder="Suffix" readonly>
                </div>
              </div>
            </div>
        
            <!-- Fourth Row: Present Unit and new Textbox -->
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="mb-4">
                  <label class="form-label">Present Mother Unit</label >
                  <input type="text" id="unitDP" name="unit" class="form-control" placeholder="Suffix" readonly>
                </div>
              </div>

              
              
              <div class="col-md-6">
                <div class="mb-4">
                  <label >Present DS/TDY Unit</label>
                  <input type="text" id="new_unittxt" name="new_unit" class="form-control" placeholder="DS unit" disabled>
                </div>
              </div>

              

            </div>

         
            <div class="mb-3">
              <label  class="form-label">Assignment Category</label>
              <input type="text" class="form-control" id="assignmentcategorytxt" class="form-control" name="assignmentcategory" placeholder="Assignment Category"readonly>
            </div>

            <div class="mb-3">
              <label  class="form-label" hidden>Reassignment Effective Date</label>
              <input type="date" class="form-control" id="reassignmentDate" name="reassignmentDate" hidden>
            </div>


            <div class="mb-3" id="dropdownContainer">
              <label class="form-label">Duration of Extension </label>

              <label  class="form-label" name="untildatelbl" id="untildatelbl" > </label>

              <select name="duration" id="durationtxt" class="form-control">
                <optgroup label="Duration">
                  <option selected>6 Months</option>
                  <option>1 Year</option>
                  <option>2 Years</option>
                </optgroup>
              </select>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Upload Order</label>
              
              <div class="custom-file">
                  <input type="file" class="form-control custom-file-input" id="uploadOrder" name="uploadOrder">
                  <label class="custom-file-label" >Choose file...</label>
              </div>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

<!-- alert section -->
<div class="alert-box" id="alertBox">
  <div class="alert-content">Please enter the reassignment effective date first.</div>
  <button class="close-btn" id="closeAlertBtn">OK</button>
</div>
<!-- /alert section -->

  <script>
// if the reaasgined date is empty, do something
var previousValue = document.getElementById('assignmentcategorytxt').value;
var untilDateLabel = document.getElementById('untildatelbl');

document.getElementById('reassignmentDate').addEventListener('change', function() {
  //populate date to untildatelbl
  // Get the value of the reassignmentDate input
  var reassignmentDateValue = document.getElementById('reassignmentDate').value;
  // Convert the input date string to a Date object
  var reassignmentDate = new Date(reassignmentDateValue);
  var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  // Format the date as "dd-mmm-yyyy"
  var formattedDate = ("0" + reassignmentDate.getDate()).slice(-2) + "-" + 
                      months[reassignmentDate.getMonth()] + "-" + 
                      reassignmentDate.getFullYear();
  // Get the label element by its ID
  // new var format = dd-mm-yyyy
  var formattedDate2 = reassignmentDate.toLocaleDateString('en-GB');
  var untildatelbl = document.getElementById('untildatelbl');
  // Set the text content of the label
  untildatelbl.textContent = formattedDate2;


});

// ends 

// hides the dropdown of DS and TDY if dropdown option has value of "assigned"
  // document.getElementById('assignmentcategorytxt').addEventListener('change', function() {
  //   var reassignmentDate = document.getElementById('reassignmentDate').value;
  //   var selectedCategory = this.value;
  //   var dropdownContainer = document.getElementById('dropdownContainer');
  //   if ((selectedCategory === 'Detached Service' || selectedCategory === 'Temporary Duty') && !reassignmentDate) {
  //     showAlert();
  //     this.value = previousValue;
  //     dropdownContainer.classList.add('hidden');
  //   } else {
  //     dropdownContainer.classList.remove('hidden');
  //     previousValue = selectedCategory;
  //   }
  // });
  


// event for duration drop down
function computeDate() {
  var reassignmentDateValue = document.getElementById('reassignmentDate').value;
  if (!reassignmentDateValue) return; // Return if reassignment date is not set

  var reassignmentDate = new Date(reassignmentDateValue);
  var durationSelect = document.getElementById('durationtxt');
  var selectedDuration = durationSelect.value;

  var yearsToAdd = 0;
  var monthsToAdd = 0;

  switch (selectedDuration) {
    case "6 Months":
      monthsToAdd = 6;
      break;
    case "1 Year":
      yearsToAdd = 1;
      break;
    case "2 Years":
      yearsToAdd = 2;
      break;
    default:
      break;
  }

  var newDate = new Date(reassignmentDate);
  newDate.setMonth(newDate.getMonth() + monthsToAdd);
  newDate.setFullYear(newDate.getFullYear() + yearsToAdd);

  if (newDate.getDate() !== reassignmentDate.getDate()) {
    newDate.setDate(0);
  }

  var day = ("0" + newDate.getDate()).slice(-2);
  var month = ("0" + (newDate.getMonth() + 1)).slice(-2);
  var year = newDate.getFullYear();
  var formattedNewDate = day + "-" + month + "-" + year;

  document.getElementById('untildatelbl').textContent = formattedNewDate;
}


// Add event listener to reassignment date picker
document.getElementById('reassignmentDate').addEventListener('change', computeDate);

// Add event listener to duration dropdown
document.getElementById('durationtxt').addEventListener('change', computeDate);


  document.getElementById('closeAlertBtn').addEventListener('click', function() {
    hideAlert();
  });

  function showAlert() {
    var alertBox = document.getElementById('alertBox');
    alertBox.style.display = 'block';
  }

  function hideAlert() {
    var alertBox = document.getElementById('alertBox');
    alertBox.style.display = 'none';
    
  }

// =======================================
    $(document).ready(function() {
    // Add change event listener to the file input
    $('#uploadOrder').change(function() {
        // Get the name of the selected file
        var fileName = $(this).val().split('\\').pop();
        // Display the file name in the custom file label
        $('.custom-file-label').text(fileName);
    });
});



    $(document).ready(function() {
      $('.openModalButton').click(function() {
        var personnelId = $(this).data('afpsn');

        var rank = $(this).data('rank');
        var lastname = $(this).data('lastname');
        var firstname = $(this).data('firstname');
        var middlename = $(this).data('middlename');
        if (middlename === "nan") {
            middlename = '';
        }
        var suffix = $(this).data('suffix');
        if (suffix === "nan") {
          suffix = '';
        }
        var afpsn = $(this).data('afpsn');
        var unit = $(this).data('unit');
        var unitcategory = $(this).data('unit_category');
        var new_unit = $(this).data('new_unit');
        var reassigneffectivedate_until = $(this).data('reassigneffectivedate_until');


        $('#personnel_id').val(personnelId);
        $('#ranktxt').val(rank);
        $('#lastnametxt').val(lastname);
        $('#firstnametxt').val(firstname);
        $('#middlenametxt').val(middlename);
        $('#suffixtxt').val(suffix);
        $('#afpsntxt').val(afpsn);
        $('#unitDP').val(unit);
        $('#assignmentcategorytxt').val(unitcategory);
        $('#new_unittxt').val(new_unit);
        $('#reassignmentDate').val(reassigneffectivedate_until);



        // Populate the subunit dropdown based on the selected unit

      });
    });


    var selectElement = document.getElementById('assignmentcategorytxt');
        // Add event listener for change event
        selectElement.addEventListener('change', function(event) {
            // Get the selected option
            var selectedOption = event.target.value;
            // Check if the selected option is not "Assigned"
            if (selectedOption !== 'Assign') {
              document.getElementById('dropdownContainer').removeAttribute('hidden');
            }else{
              document.getElementById('dropdownContainer').setAttribute('hidden', 'hidden');
            }
        });
        


        $('#PlacementupdateForm').submit(function(event) {
    // Prevent the default form submission behavior
         event.preventDefault();
    
    // Serialize form data
    var formData = $(this).serialize();
    var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

    // Perform AJAX request to submit the form data
    $.ajax({
        url: '{% url "placement_DS_extension" %}', // Replace with the URL of your server-side script
        method: 'POST',
        data: formData,
      
        headers: {
            'X-CSRFToken': csrfToken
        },

        success: function(response) {
        
            if (response.success) {
                console.log('Data updated successfully!');

                
                // Optionally, show a success message to the user
                Swal.fire({
                    title: 'Updated Successfully',
                    text: 'Your data has been updated successfully!',
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
            } else {
                // console.error('Error updating data:', response.error);
                
                // Optionally, show an error message to the user
                Swal.fire({
                    title: 'Update Failed',
                    text: response.error,
                    icon: 'error',
                    confirmButtonText: 'Try Again'
                });
           
          }
        },
        error: function(xhr, status, error) {
            console.error('Error updating data:', error);
            
            
            // Optionally, show an error message to the user
            Swal.fire({
                title: 'Update Failed',
                text: 'An error occurred while updating data. Please try again later.',
                icon: 'error',
                confirmButtonText: 'Try Again'
            });

         }
        
    });
    
});


  </script>

  