<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h2>add time period</h2>

  <form id="dateform">

    <label for="inputDate">enter a date</label>
    <input type="date" id="inputDate" name="inputDate" required>
    <label for="timeperiod">slecte time period to add:</label>

    <select name="timePeriod" id="timePeriod">
      <option value="6">6 months</option>
      <option value="12">1 year</option>
      <option value="24">2 years</option>

    </select>

    <button type="button" onclick="addTimePeriod()">add time period</button>

  </form>
  <p id="result"></p>

  <script>
    function addTimePeriod(){
      let inputDate = new Date(document.getElementById("inputDate").value);
      let timePeriod = new Date(document.getElementById("timePeriod").value);

      let newDate = new Date(inputDate.setMonth(inputDate.getMonth()+timePeriod));

      console.log(" newDate",newDate)
      let formattedDate =`${newDate.getFullYear()} -${String(newDate.getMonth()+1).padStart(2,'0')}-${String(newDate.getDate()).padStart(2,'0')}`;
      document.getElementById("result").textContent = `New Date afteraddding ${timePeriod} months:${formattedDate}`;
    }

  </script>
  
</body>
</html>